[Unit]
Description=Minecraft Server Backup for %i

[Service]
WorkingDirectory=/srv/minecraft
ExecStart=/srv/minecraft/backup.sh %i
EnvironmentFile=-/srv/minecraft/backup.env
